/* ==========================
   CLASS 9 NOTES WEBSITE
========================== */

body{
    margin:0;
    padding:20px;
    background:#f0f8ff;
    font-family:Arial, sans-serif;
    text-align:center;
}

/* Heading */
h1{
    color:darkblue;
    font-size:40px;
    margin-bottom:30px;
}

/* List */
ul{
    list-style:none;
    padding:0;
    margin:0;
}

li{
    margin-bottom:35px;
}

/* Subject Button */
button{
    width:320px;
    height:70px;
    background:#f30c51;
    color:white;
    border:none;
    border-radius:35px;
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:green;
    transform:scale(1.05);
}

/* Click Button */
.small-btn{
    width:130px;
    height:45px;
    background:#07cef1;
    color:white;
    border:none;
    border-radius:25px;
    font-size:20px;
    margin-top:12px;
}

/* ==========================
   MOBILE RESPONSIVE
========================== */

@media screen and (max-width:768px){

    body{
        padding:15px;
    }

    h1{
        font-size:32px;
    }

    button{
        width:95%;
        max-width:350px;
        height:65px;
        font-size:20px;
    }

    .small-btn{
        width:140px;
        height:45px;
        font-size:18px;
    }

    li{
        margin-bottom:30px;
    }
}
/* Navigation Bar */

.navbar{
    background:#04f5f5;
    overflow:hidden;
    text-align:left;
    padding:10px;
}

.navbar a{
    color:rgb(20, 18, 18);
    text-decoration:none;
    padding:14px 20px;
    display:inline-block;
    font-size:18px;
}

.navbar a:hover{
    background:#0465f8;
    border-radius:5px;
}
/* ==========================
   LOGIN PAGE
========================== */

.login-page{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#00c6ff,#0072ff,#8e2de2);
}

.login-box{
    width:360px;
    background:#fff;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.login-box h1{
    color:#0072ff;
    margin-bottom:10px;
}

.login-box h2{
    color:#333;
    margin-bottom:25px;
}

.login-box input{
    width:90%;
    padding:15px;
    margin:10px 0;
    border:2px solid #ddd;
    border-radius:10px;
    font-size:17px;
}

.login-box input:focus{
    border-color:#0072ff;
    outline:none;
}

.login-box button{
    width:95%;
    height:55px;
    background:linear-gradient(to right,#00c6ff,#0072ff);
    color:white;
    border:none;
    border-radius:30px;
    font-size:20px;
    cursor:pointer;
}

.login-box button:hover{
    background:linear-gradient(to right,#28a745,#00c853);
    transform:scale(1.05);
}
