/* ==========================
   CLASS 9 NOTES WEBSITE
========================== */

body{
    margin:0;
    padding:20px;
    background:#f0f8ff;
    font-family:Arial, sans-serif;
    text-align:center;
}

/* Heading */
h1{
    color:darkblue;
    font-size:40px;
    margin-bottom:30px;
}

/* List */
ul{
    list-style:none;
    padding:0;
    margin:0;
}

li{
    margin-bottom:35px;
}

/* Subject Button */
button{
    width:320px;
    height:70px;
    background:#f30c51;
    color:white;
    border:none;
    border-radius:35px;
    font-size:20px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:green;
    transform:scale(1.05);
}

/* Click Button */
.small-btn{
    width:130px;
    height:45px;
    background:#07cef1;
    color:white;
    border:none;
    border-radius:25px;
    font-size:20px;
    margin-top:12px;
}

/* ==========================
   MOBILE RESPONSIVE
========================== */

@media screen and (max-width:768px){

    body{
        padding:15px;
    }

    h1{
        font-size:32px;
    }

    button{
        width:95%;
        max-width:265px;
        height:65px;
        font-size:20px;
    }

    .small-btn{
        width:140px;
        height:45px;
        font-size:18px;
    }

    li{
        margin-bottom:30px;
    }
}
